<section class="wrapper">
  <h1 class="text-7xl">
    {{ product.title }}
  </h1>
</section>

{% schema %}
{
  "name": "Featured Product",
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}