<div class="block my-12">
  <label class="sr-only" for="sort-by">Filter by</label>
  <select id="sort-by" class="rounded-md">
    {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
    {% for option in collection.sort_options %}
      <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
</div>

{% paginate collection.products by 24 %}
  <div class="grid gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-full">
    {% for product in collection.products %}
      {% render 'card-product', product: product %}
    {% endfor %}
  </div>
  <div class="block my-12 text-center">
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  </div>
{% endpaginate %}

{% render 'script-filter' %}


{% schema %}
{
  "name": "Template Collection",
  "class": "wrapper"
}
{% endschema %}